@import "../../style/variables.scss";

.items {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem 0 0;

    li {
        button {
            color: $clr-txt-first;
            cursor: pointer;
        }
    }
}
