@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$font: "Ubuntu", sans-serif;

$clr-bg-first: #181e1a;
$clr-bg-second: #e42314;
$clr-txt-first: #ffe001;
$clr-txt-second: #ffffff;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$navbar-height: 72px;

$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

@mixin break_point($point) {
    @if $point == md {
        @media (min-width: $md) {
            @content;
        }
    }
}
